.savax-area {
  color: #666;
}
.savax-status-error,
.savax-status-disabled,
.savax-status-warning {
  padding: 10px;
  text-align: center;
}

.savax-status-error {
  background-color: #600;
  color: white;
  text-shadow: 1px 1px #000;
}
.savax-status-disabled {
  background-color: #ddd;
  color: #666;
  text-shadow: 1px 1px #fff;
}
.savax-status-saving {

}
.savax-status-warning {
  background-color: #f9d8a4;
  color: #000;
}
.savax-status-dirty {

}
.savax-status-ok {
  animation-duration: 4s;
  animation-name: savax-hide;
  animation-timing-function: ease-in;
  color: #64ab50;
  visibility: hidden;
  opacity: 0;
}
@keyframes savax-hide {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
