.status-bar {
  background-color: #ddd;
  border-top: 1px solid #888;
  bottom: 0;
  color: #444;
  font-family: Helvetica, sans-serif;
  font-size: .87em;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.status-bar-inner {
  padding: .2em 0;
  text-align: right;
}
.status-bar .bar-item {
  cursor: default;
  margin: 0 1em;
}
.status-bar .bar-label {
  color: #888;
}

.savax-bar-warning {
  background-color: #fffce5;
}
.savax-bar-error {
  background-color: #f8c0c0;
  color: #8c2e0b;
}
